URxvt.iso14755: fale
URxvt.iso14755_52: false
Urxvt.meta8: true

!! Colorscheme

! special
*.foreground: #93a1a1
*.background: #141c21
*.cursorColor: #afbfbf
*.highlightColor:#5294e2
!*.highlightTextColor:
! black
*.color0: #263640
*.color8: #4a697d

! red
*.color1: #d12f2c
*.color9: #fa3935

! green
*.color2: #819400
*.color10: #a4bd00

! yellow
*.color3: #b08500
*.color11: #d9a400

! blue
*.color4: #2587cc
*.color12: #2ca2f5

! magenta
*.color5: #696ebf
*.color13: #8086e8

! cyan
*.color6: #289c93
*.color14: #33c5ba

! white
*.color7: #bfbaac
*.color15: #fdf6e3

! for high dpi
Xft.dpi: 192


! Urxvt Settings
URxvt.scrollBar: False
URxvt.scrollstyle: rxvt
Urxvt.xursorBlink: true
URxvt.underlineURLs: True
URxvt.font: xft:source code pro:medium:size=10
URxvt.boldFont: xft:source code pro:Bold:size=10
URxvt.italicFont: xft:source code pro:Italic:size=10
Urxvt.boldItalicFont: xft:source code pro:Bold Italic:size=10
URxvt.searchable-scrollback: true
URxvt.letterSpace: 0
URxvt.lineSpace: 0
Urxvt.intrnalBorder: 24
Urxvt.scrollBar_right: false
Urxvt.urgentOnBell: true
Urxvt.depth: 24

! Colors
URxvt.bg: #2f343f

! keybindings
!! Common Keybinds for Navigations

! resize font keybindings
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-equal:      resize-font:bigger
URxvt.keysym.C-0:     resize-font:reset

! extensions
URxvt.perl-ext-common: default,url-select,keyboard-select,resize-font

!! Copy Paste & Other Extensions
URxvt.keysym.M-Escape: perl:keyboard-select:activate

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:

URxvt.keysym.Control-Shift-F: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.urlLauncher: firefox
URxvt.urlButton: 1
